html {
    overflow-y: auto;
    background-color: transparent;
}

body{
    padding-top: 20px;
    padding-left: 0px;
    margin: 0 0 0 0;
}

.page-wrap{
    margin: 0;
    padding: 0;
}

.list-group-item{
    border: 0px transparent;
}
.list-group-item:first-child{
    border-radius: 0px;
}

.list-group-item:last-child{
    border-radius:0px;
}

#message_write_panel {
    border: 0px transparent;
    border-radius:0px;
}
#txt_content{
    border: 0px;
    margin: 0;
    background-color: #303030;
    color: #00bc8c;
}

#message_write_panel_body{
    padding: 0;
}

#listbox_content, #listbox{
    overflow-y: scroll;
}

#btn_send{
    height: 100%;
}

.alert{
    box-shadow: 10px 10px 5px #333;
}

::-webkit-scrollbar {
width: 5px;
height: 5px;
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 30px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece {
background-color: transparent;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: transparent;
border: 1px solid transparent;
-webkit-border-radius: 6px;
}